body{
font-family:'Noto Sans Thai',sans-serif;
margin:0;
}

.hero{

background:hsl(351, 53%, 44%);
color:#ddff44;

text-align:center;

padding:100px 20px;

position:relative;

overflow:hidden;

}

.hero h1{

font-size:70px;

margin-bottom:10px;

}

.hero button{

padding:12px 25px;

border:none;

background:black;

color:white;

cursor:pointer;

}

/* รูปอาหารลอย */

.food1{

position:absolute;

left:50px;

top:120px;

width:200px;

border-radius:10px;

}

.food2{

position:absolute;

right:80px;

top:80px;

width:200px;

border-radius:10px;

}

.food3{

position:absolute;

bottom:20px;

left:200px;

width:200px;

border-radius:10px;

}

/* menu */

.menu{

padding:60px;

text-align:center;

}

.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}

.grid img{

width:100%;

height:250px;

object-fit:cover;

border-radius:10px;

}

.restaurant{

padding:40px;

background:hsl(351, 53%, 44%);

text-align:center;

}

.restaurant h2{

font-size:30px;

color:hsl(66, 69%, 54%);

margin-bottom:30px;

}

.table-gallery{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.table-item{

width:260px;

background:white;

border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

overflow:hidden;

}

.table-item img{

width:100%;

height:180px;

object-fit:cover;

}

.table-item p{

padding:10px;

font-weight:bold;

}

.table-item:hover{

transform:scale(1.05);

transition:0.3s;

}
